body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* o bootstraop utiliza a classe .row para fazer um linha */
.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,li {
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */
header, .navbar {
    background-color: #353D41;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

/* link */
.navbar-brand {
    padding: 0;
    color: #FFF;
}

/*quando passar o mouse no link e ficar branco */
.navbar-brand:hover {
    color: #FFF;
}


#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}


/* Slider */
/* deixar sem espaçamento dos lados do carrossel */
.container-fluid {
    padding: 0;
}

/* para o carrossel pegar 90% da altura da tela */
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

/* colocar a legenda do carrossel mais pra cima  */
#mainSlider .carousel-caption {
    top: 30%
}

/* mudar o h2 */
#mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

/* mudar o p */
#mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}


.main-btn {
    background-color: #65DAF9;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
    border-color: #65DAF9;
}

/* traços do slide quando estiver no slide o traço do slide fica azul */
.carousel-indicators .active {
    background-color: #65DAF9;
}

/* Sobre a empresa */

#about-area{
    background-color: #F9F9F9;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after {
    content: '';
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #444;
    margin: 0 auto;
    border-radius: 10px;
}

.about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

/* para desgrudar as linhas da lista */
#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #65DAF9;
    margin-right: 15px;
}

 /* Serviços (rodapé) */
 .service-box {
    text-align: center;
    margin-bottom: 50px;
 }

  /* a transition e para quando tocar com o mouse o icon ir ficando azul durante 5 segundos  */
 .service-box i, .service-box h4 {
    transition: .5s;
 }

 .service-box i {
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
 }

 .service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
 }

 /* a seta serve pra ir diretamente no i e h4 */
 .service-box:hover > i,  .service-box:hover > h4 {
    color: #65DAF9;
 }

 /* parallax dos dados com os circulos  */

 .circle-box div {
    padding: 0 40px;
 }

 /* numero dos circulos */
 .progressbar-text {
    font-weight: bold;
    font-size: 32px;
 }

 /* todos os paragrafos do data area  */
 #data-area p {
    color: #FFF;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
 }

/* Parallax */
 #data-area {
    position:relative;
    background-image:url('../img/cidadeparallax.png');
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    }  

/* Equipe */
.card-body {
    border: 1px solid #a09b9b41;
    border-top: 0; 
    text-align: center;
    padding-top:25px;
    padding-bottom: 25px;
}

.card-title  {
    padding-bottom: 10px;
}

/* Trabalhe conosco */

#apply-area {
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
    height: 100%;
}

#apply-area .apply-box {
    text-align: center;
    padding: 70px 50px;
}

#company-img {
    background-image:url('../img/empresa.jpg');
    background-size:cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p {
    color: #FFF;
}

#pattern-img h4 {
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img p {
    margin-bottom: 20px;
}

#apply-btn {
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #FFF;
}

#apply-btn:hover {
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* Parallax */
#pattern-img {
    position:relative;
    background-image:url('../img/cidadeparallax.png');
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    }  


  /* Projetos   */

  .project-box {
    margin-bottom: 50px;
  }

  #filter-btn-box {
    margin-bottom: 50px;
    text-align: center;
  }

  #portifolio-area .filter-btn {
    color: #444;
    border: 1px solid #444;
    background-color: transparent;
    /* para nao ser afetado pelos outros estilos que foi usada a classe */
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    /* para o botão ficar do tamanho da letra */
    width: auto;
    height: 40px;
    padding: 0 20px;
  }

  #portifolio-area .filter-btn.active, #portifolio-area .filter-btn:hover {
    color: #FFF;
    background-color: #65DAF9;
    border-color: #65DAF9;
  }

  /* adicionar email do usuario */
  #news-area {
    text-align: center;
    background-color: #eeeded;
  }

  #news-area p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  /* junta os imputs no outro e adicionar radius em volta */
  #email-input {
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65DAF9;
    /* deixar os inputs um do lado do outro */
    display: inline; 
    box-sizing: border-box;
    width: 40%;
    height: 40px;
  }

  #news-btn {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
    text-transform: uppercase;
    margin-left: -130px;
    color: #FFF;
    height: 40px;
    padding: 0 30px;
    position: absolute;
    /* animação d--morar 5 segundos para aparecer */
    transition: .5s;
  }

  #news-btn:hover {
    background-color: #FFF;
    color: #65DAF9;
  }

  

  /* Deseja fazer um orçamento */

  #call-area {
    background-color: #65DAF9;
    text-transform: uppercase;
  }

  #call-area .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  /* alinhar tudo que tem na div */
  #call-area .row {
    display: block;
    text-align:center;
  }

  #call-area p {
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    letter-spacing: 2px;
    margin-bottom: 0;
    /* deixar o texto e o input um do lado do outro */
    display: inline;
    height: 60px;
    line-height: 60px;
  }

  #call-area #call-btn {
    background-color: #FFF;
    color: #65DAF9;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: auto;
    letter-spacing: 2px;
  }

     /* footer */

     #contact-area {
        text-align: center;
     }

     /* linha azul */
     .contact-box {
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid #3EC1D5;
     }

     /* circulo dos icones */
     .contact-box i {
        color: #444;
        border: solid 1px #444;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        line-height: 55px;
        font-size: 24px;
        margin-bottom: 20px;
     }

     .contact-box p {
        font-size: 16px;
     }
     
     .contact-title {
        font-weight: bold;
        color: #3EC1D5;
     }

     #msg-box p {
        font-size: 22px;
     }

     #contact-form input[type="text"],  #contact-form input[type="email"], #contact-form textarea {
        margin-bottom: 15px;
        border-radius: 0;
     }

     #contact-form .main-btn {
        width: 120px;
        height: 50px;
     }

     #contact-form .main-btn:hover {
        color: #3EC1D5;
     }

        /* Copy area 'Desenvolvido por hdc agency' */
     #copy-area {
        background-color: #F1F1F1;
     }

     #copy-area .container {
        padding: 10px 0;
        text-align: center;
     }

     #copy-area .container p {
        margin-bottom: 0;
     }

     #copy-area .container a {
        font-weight: bold;
        color: #444;
     }

     #copy-area .container a:hover {
        text-decoration: none;
        color: #3EC1D5;
     }

        /* Responsive */

        /* tela monitor de 2000px */
     @media (min-width: 2000px) {
        .col-xll-8 {
            width: 66.66666667%;
        }
         }

    /* responsive tablet */

    /* para resolução de tablet quando chegar no maximo 768px vai ativar essa resolução */
    @media(max-width: 768px){

        /* geral */
        /* tirar os espaços das divs para não ficar muitos espaço quando diminuir a tela */
        .container {
            padding: 20px 0;
        }

        /* Carrosel */
        #mainSlider .carousel-inner, #mainSlider .carousel-item {
            height: auto;
        }
        
        #mainSlider .carousel-caption h2 {
            font-size: 28px;
        }

        #mainSlider .carousel-caption p {
            font-size: 18px;
            margin-bottom: 40px;
        }

        .carousel-caption {
            left: 10%;
            right: 10%;
        }

        /* about (imagem da mesa que fica do lado do texto) */
        #about-area img {
            margin-top: 100px;
        }

        /* data (circulos que tem os numeros) */
        .circle-box div {
            padding: 0 10px;
        }

        #data-area p {
            font-size: 16px;
        }

        /* tean (foto dos funcionarios) */
        .card-title {
            font-size: 14px;
        }
        
        .card-text {
            font-size: 12px;
        }

        /* apply (texto: gosta de desafios:) */
        #apply-area .apply-box {
            padding: 50px 25px;
        }

        /* news (paragrafo fique por dentro das novidades) */
        #news-area p {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        #email-input {
            width: 70%;
        }
        
        /* call-area (parte azul do arçamento) */
        #call-area .container {
            padding: 30px;
        }

        /* responsive celular */

        /* carrossel */
        @media(max-width: 425px){
            #mainSlider {
                margin-top: 90px;
            }

            /* 
            Onde esta os slides o bootstrap criou uma classe d none automticamente tem que tirar todas as classes d none para ficar os textos nos slides quando tiver em um celular */
            #mainSlider .carousel-caption {
                top: 5%;
            }

            #mainSlider .carousel-caption h2{
               font-size: 18px;
               margin-bottom: 40px;
            }

            /* quando for no celular esconder o paragrafo porque fica muito pouco espaço pra muita informação */
            #mainSlider .carousel-caption p{
                display: none;
             }
 
            .carousel-caption .main-btn {
                font-size: 14px;
            }

            /* about */
            .main-title {
                font-size: 30px;
            }

            #about-area img {
                margin-top: 0;
                margin-bottom: 30px;
            }

            .circle-box {
                width: 50%;
            }
        }
    }